<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="jumbotron text-center">
    <div class="container">
      <%= league %>
    </div>
  </div>

</body>
</html>
